<!DOCTYPE html>
<html>
<head>
  <title>TastesBitter</title>
  <%= stylesheet_link_tag    "tastes_bitter/application", media: "all" %>
  <%= javascript_include_tag "tastes_bitter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
